<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE document SYSTEM "../units/schema/language.dtd">
<document>
	<html lang="$language" dir="$language_rtl ? 'rtl' : 'ltr'" cms:eval="lang,dir">
		<head>
			<title>
				<cms:text constant="site_title"/>
				<cms:raw text=" - "/>
				<cms:text constant="events"/>
			</title>
			<cms:module name="head_tag" action="print_tag"/>
			<cms:raw file="parts/gtag.txt"/>
		</head>

		<body>
			<cms:template file="parts/header.xml"/>

			<section class="events">
				<h1 class="styled events"><cms:text constant="events"/></h1>

				<div class="articles">
					<cms:module
						name="articles"
						action="show_list"
						group="events_articles"
						order_by="id"
						order_asc="0"
						template="stock/article_generic.xml"
						/>
				</div>
			</section>

			<cms:template file="parts/footer.xml" />
		</body>
	</html>
</document>
